{% extends "base.html" %}
{% block content %}
<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Wyniki</h3>
            </div>
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                      <th>Admin</th><th>Imię</th><th>Nazwisko</th><th>Klasa</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in users %}
                  <tr>
                      <td>
                      {% if user.is_admin %}
                      <input type="checkbox" name="is_admin" checked>
                      {% else %}
                      <input type="checkbox" name="is_admin">
                      {% endif %}
                      </td>
                      <td>{{ user.first_name }}</td>
                      <td>{{ user.last_name }}</td>
                      <td>{{ user.class_name }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}