<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Programistrz 2019</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}

  <!-- Font Awesome -->
  <link rel="stylesheet" href={% static "template/plugins/fontawesome-free/css/all.min.css" %}>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href={% static "template/dist/css/adminlte.min.css" %}>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/contest" class="brand-link">
      <img src={% static "template/dist/img/AdminLTELogo.png" %}
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Programistrz 2019</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 text-white text-center">
        {{name}}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <a href="/contest" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Aktualności</p>
          </a>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Etap 1
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/contest/task/1" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ciąg Fibonacciego</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/2" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Silnia</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/3" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Słówka</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/4" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>System dwójkowy</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/5" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liczby pierwsze</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Etap 2
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/contest/task/6" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Silnia v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/7" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>System dwójkowy v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/8" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Domino</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/9" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Paliwo</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/10" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Szyfr</p>
                </a>
              </li>
            </ul>
          </li>
		  <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Finał
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/task/11" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Morsownik</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/12" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bezpieczne hasło</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/13" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Samogłoski</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/14" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sortowanie v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/15" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Podzielność</p>
                </a>
              </li>
			  <li class="nav-item">
                <a href="/contest/task/16" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Trójkąty</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/17" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Losowanie ocen</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/18" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liczby pierwsze</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/19" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>"Dwa razy zimniej"</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/20" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bez cyfr</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/contest/regulations" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Regulamin</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/contest/timetable" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Terminarz
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Zgłoszenia
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/solution" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Wyślij rozwiązanie zadania</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/solution/all" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Moje zgłoszenia</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Wyniki</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/contest">Home</a></li>
              <li class="breadcrumb-item active">Wyniki</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    {% block content %}
    {% endblock %}

  </div>
  <footer class="main-footer">
      <strong>Programistrz 2019</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src={% static "template/plugins/jquery/jquery.min.js" %}></script>
<!-- Bootstrap 4 -->
<script src={% static "template/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<!-- AdminLTE App -->
<script src={% static "template/dist/js/adminlte.min.js" %}></script>
<!-- AdminLTE for demo purposes -->
<script src={% static "template/dist/js/demo.js" %}></script>
</body>
</html>