<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Programistrz 2019</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  {% load static %}
  <link rel="stylesheet" href={% static "template/plugins/fontawesome-free/css/all.min.css" %}>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- fullCalendar -->
  <link rel="stylesheet" href={% static "template/plugins/fullcalendar/main.min.css" %}>
  <link rel="stylesheet" href={% static "template/plugins/fullcalendar-daygrid/main.min.css" %}>
  <link rel="stylesheet" href={% static "template/plugins/fullcalendar-timegrid/main.min.css" %}>
  <link rel="stylesheet" href={% static "template/plugins/fullcalendar-bootstrap/main.min.css" %}>
  <!-- Theme style -->
  <link rel="stylesheet" href={% static "template/dist/css/adminlte.min.css" %}>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/contest" class="brand-link">
      <img src={% static "template/dist/img/AdminLTELogo.png" %}
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Programistrz 2019</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 text-white text-center">
        {{name}}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <a href="/contest" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Aktualności</p>
          </a>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Etap 1
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/contest/task/1" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ciąg Fibonacciego</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/2" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Silnia</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/3" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Słówka</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/4" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>System dwójkowy</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/5" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liczby pierwsze</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Etap 2
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/task/6" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Silnia v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/7" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>System dwójkowy v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/8" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Domino</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/9" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Paliwo</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/10" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Szyfr</p>
                </a>
              </li>
            </ul>
          </li>
		  <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Finał
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/task/11" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Morsownik</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/12" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bezpieczne hasło</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/13" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Samogłoski</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/14" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sortowanie v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/15" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Podzielność</p>
                </a>
              </li>              
			  <li class="nav-item">
                <a href="/contest/task/16" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Trójkąty</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/17" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Losowanie ocen</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/18" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liczby pierwsze</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/19" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>"Dwa razy zimniej"</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/20" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bez cyfr</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/contest/regulations" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Regulamin</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/contest/timetable" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Terminarz
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Zgłoszenia
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/solution" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Wyślij rozwiązanie zadania</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/solution/all" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Moje zgłoszenia</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Calendar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/contest">Home</a></li>
              <li class="breadcrumb-item active">Calendar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
		<div class="col-md-12">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
		
          <div class="col-md-3">
            <div class="sticky-top mb-3">
              <div class="card" style="visibility:hidden">
                <div class="card-header">
                  <h4 class="card-title">Draggable Events</h4>
                </div>
                <div class="card-body">
                  <!-- the events -->
                  <div id="external-events">
                    <div class="external-event bg-success">Lunch</div>
                    <div class="external-event bg-warning">Go home</div>
                    <div class="external-event bg-info">Do homework</div>
                    <div class="external-event bg-primary">Work on UI design</div>
                    <div class="external-event bg-danger">Sleep tight</div>
                    <div class="checkbox">
                      <label for="drop-remove">
                        <input type="checkbox" id="drop-remove">
                        remove after drop
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              </div>
          </div>
          <!-- /.col -->
          
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
      <strong>Programistrz 2019</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src={% static "template/plugins/jquery/jquery.min.js" %}></script>
<!-- Bootstrap -->
<script src={% static "template/plugins/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<!-- jQuery UI -->
<script src={% static "template/plugins/jquery-ui/jquery-ui.min.js" %}></script>
<!-- AdminLTE App -->
<script src={% static "template/dist/js/adminlte.min.js" %}></script>
<!-- AdminLTE for demo purposes -->
<script src={% static "template/dist/js/demo.js" %}></script>
<!-- fullCalendar 2.2.5 -->
<script src={% static "template/plugins/moment/moment.min.js" %}></script>
<script src={% static "template/plugins/fullcalendar/main.min.js" %}></script>
<script src={% static "template/plugins/fullcalendar-daygrid/main.min.js" %}></script>
<script src={% static "template/plugins/fullcalendar-timegrid/main.min.js" %}></script>
<script src={% static "template/plugins/fullcalendar-interaction/main.min.js" %}></script>
<script src={% static "template/plugins/fullcalendar-bootstrap/main.min.js" %}></script>
<!-- Page specific script -->
<script>
  $(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    ini_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()

    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendarInteraction.Draggable;

    var containerEl = document.getElementById('external-events');
    var checkbox = document.getElementById('drop-remove');
    var calendarEl = document.getElementById('calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.external-event',
      eventData: function(eventEl) {
        console.log(eventEl);
        return {
          title: eventEl.innerText,
          backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
        };
      }
    });




    var calendar = new Calendar(calendarEl, {
      plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      locale: 'pl',
      firstDay: 1,

      //Random default events
      events    : [
        {
          title          : 'Rozpoczęcie konkursu',
          start          : new Date(2019, 8, 19,18,0),
          backgroundColor: '#f56954', //red
          borderColor    : '#f56954' //red
        },
        {
          title          : 'Etap 1',
          start          : new Date(2019, 8, 20, 10, 24),
          end            : new Date(2019, 9, 13, 20, 48),
          allDay         : false,
          backgroundColor: '#00c0ef', //Info (aqua)
          borderColor    : '#00c0ef' //Info (aqua)
        },
        {
          title          : 'Etap 2',
          start          : new Date(2019, 9, 30, 10, 24),
          end            : new Date(2019, 10, 13, 20, 48),
          allDay         : false,
          backgroundColor: '#00c0ef', //Info (aqua)
          borderColor    : '#00c0ef' //Info (aqua)
        }
      ],
      editable  : false,
      droppable : false, // this allows things to be dropped onto the calendar !!!
      drop      : function(info) {
        // is the "remove after drop" checkbox checked?
        if (checkbox.checked) {
          // if so, remove the element from the "Draggable Events" list
          info.draggedEl.parentNode.removeChild(info.draggedEl);
        }
      }    
    });

    calendar.render();
    // $('#calendar').fullCalendar()

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({
        'background-color': currColor,
        'border-color'    : currColor
      })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable functionality
      ini_events(event)

      //Remove event from text input
      $('#new-event').val('')
    })
  })
</script>
</body>
</html>
