<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Programistrz</title>
</head>
<body>
    <main>
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Logowanie</div>
                    <div class="card-body text-dark">
                      <form method="POST" action="/contest/login">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Login" name="login" required>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Hasło" name="password" required>
                        </div>
                        <input type="submit" class="btn btn-success sub" value="Zaloguj się">
                        <a class="btn btn-info rej" href="/contest/registration">Nie mam konta</a>
                      </form>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                            Nieprawidłowy login lub hasło
                          </div>
                    {% endif %}
                  </div>
    </main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<style>
    body {
        width: 100%;
        font-family: Verdana;
        background-color: #393e46;
    }
    main {
        padding: 40px;
        width: 60%;
        max-width: 400px;
        margin: auto;
    }
    .sub{
        background-color: #222831;
        width: 100%;
    }
    .rej{
        background-color: #222831;
        margin-top: 1em;
        width: 100%;
    }
    .rej:hover{
        background-color: black;
        margin-top: 1em;
        width: 100%;
    }
</style>
</html>