<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Programistrz 2019</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <!-- Font Awesome -->
  <link rel="stylesheet" href={% static "template/plugins/fontawesome-free/css/all.min.css" %}>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href={% static "template/dist/css/adminlte.min.css" %}>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
 

    <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/contest" class="brand-link">
      <img src={% static "template/dist/img/AdminLTELogo.png" %}
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Programistrz 2019</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 text-white text-center">
        {{name}}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <a href="/contest" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Aktualności</p>
          </a>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Etap 1
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/contest/task/1" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ciąg Fibonacciego</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/2" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Silnia</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/3" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Słówka</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/4" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>System dwójkowy</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/5" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liczby pierwsze</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Etap 2
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/task/6" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Silnia v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/7" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>System dwójkowy v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/8" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Domino</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/9" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Paliwo</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/10" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Szyfr</p>
                </a>
              </li>
            </ul>
          </li>
		  <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Finał
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/task/11" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Morsownik</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/12" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bezpieczne hasło</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/13" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Samogłoski</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/14" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sortowanie v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/15" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Podzielność</p>
                </a>
              </li>              
			  <li class="nav-item">
                <a href="/contest/task/16" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Trójkąty</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/17" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Losowanie ocen</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/18" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liczby pierwsze</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/19" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>"Dwa razy zimniej"</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/task/20" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bez cyfr</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/contest/regulations" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Regulamin</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/contest/timetable" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Terminarz
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Zgłoszenia
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a href="/contest/solution" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Wyślij rozwiązanie zadania</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/contest/solution/all" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Moje zgłoszenia</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Zgłoszenie rozwiązania</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/contest">Home</a></li>
              <li class="breadcrumb-item active">Zgłoszenie rozwiązania</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Zgłaszanie rozwiązania</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/contest/solution/check" method="POST" id="form_"> {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="kz">Kod źródłowy</label>
                    <textarea class="form-control" rows="10" placeholder="Kod źródłowy" id="kz"
                              required minlength="25" name="source" form="form_"></textarea>
					 </div>
					 <div class="form-group">
					 <label>Zadanie</label>
					 <select name="task" required>
                        {% for task in tasks %}
                      <option value={{ task.id }}>{{ task.name }}</option>
                    {% endfor %}
					</select>
					 
                  <div class="form-group">
                  <label>Język programowania</label>
                  <select name="lang" class="form-control">
                    
            <option value="1">Bash (4.4)</option>
            <option value="2">Bash (4.0)</option>
            <option value="3">Basic (fbc 1.05.0)</option>
            <option value="4">C (gcc 7.2.0)</option>
            <option value="5">C (gcc 6.4.0)</option>
            <option value="6">C (gcc 6.3.0)</option>
            <option value="7">C (gcc 5.4.0)</option>
            <option value="8">C (gcc 4.9.4)</option>
            <option value="9">C (gcc 4.8.5)</option>
            <option value="10">C++ (g++ 7.2.0)</option>
            <option value="11">C++ (g++ 6.4.0)</option>
            <option value="12">C++ (g++ 6.3.0)</option>
            <option value="13">C++ (g++ 5.4.0)</option>
            <option value="14">C++ (g++ 4.9.4)</option>
            <option value="15">C++ (g++ 4.8.5)</option>
            <option value="16">C# (mono 5.4.0.167)</option>
            <option value="17">C# (mono 5.2.0.224)</option>
            <option value="18">Clojure (1.8.0)</option>
            <option value="19">Crystal (0.23.1)</option>
            <option value="20">Elixir (1.5.1)</option>
            <option value="21">Erlang (OTP 20.0)</option>
            <option value="22">Go (1.9)</option>
            <option value="23">Haskell (ghc 8.2.1)</option>
            <option value="24">Haskell (ghc 8.0.2)</option>
            <option value="25">Insect (5.0.0)</option>
            <option value="26">Java (OpenJDK 9 with Eclipse OpenJ9)</option>
            <option value="27">Java (OpenJDK 8)</option>
            <option value="28">Java (OpenJDK 7)</option>
            <option value="29">JavaScript (nodejs 8.5.0)</option>
            <option value="30">JavaScript (nodejs 7.10.1)</option>
            <option value="31">OCaml (4.05.0)</option>
            <option value="32">Octave (4.2.0)</option>
            <option value="33">Pascal (fpc 3.0.0)</option>
            <option value="34">Python (3.6.0)</option>
            <option value="35">Python (3.5.3)</option>
            <option value="36">Python (2.7.9)</option>
            <option value="37">Python (2.6.9)</option>
            <option value="38">Ruby (2.4.0)</option>
            <option value="39">Ruby (2.3.3)</option>
            <option value="40">Ruby (2.2.6)</option>
            <option value="41">Ruby (2.1.9)</option>
            <option value="42">Rust (1.20.0)</option>
            <option value="43">Text (plain text)</option>
            <option value="44">Executable</option>
        
                  </select>
                </div>
                  <div class="form-check">
                    <input type="checkbox" required onclick="autorskie()" class="form-check-input" id='ch1'>
                    <label class="form-check-label" for="ch1"  >Potwierdzam, że praca jest autorska</label>
                  </div>
                </div>
                <!-- /.card-body -->

        
                  <button type="submit" class="btn btn-primary disabled" id='submit'>Wyślij zgłoszenie</button>
                </div>
              </form>
            </div>
		
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  
  <script>
  function autorskie(){
  console.log("boi");
   if (document.getElementById('ch1').checked)
   document.getElementById('submit').className = 'btn btn-primary';
   else 
   document.getElementById('submit').className = 'btn btn-primary disabled';
   
   
  }
  </script>
  
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <strong>Programistrz 2019</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src={% static "template/plugins/jquery/jquery.min.js" %}></script>
<!-- Bootstrap 4 -->
<script src={% static "template/plugins/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<!-- AdminLTE App -->
<script src={% static "template/dist/js/adminlte.min.js" %}></script>
<!-- AdminLTE for demo purposes -->
<script src={% static "template/dist/js/demo.js" %}></script>
</body>
</html>
